@{
    ViewBag.Title = "Home Page";
    ViewBag.Current = "Home";
}


<div>Home Page</div>
<a href="@Url.RouteUrl("Login")">Tıkla buraya lütfen.</a>

@*@section Scripts{
    <script>
        alert("hi");
    </script>
    }*@